<%= form_for(@person, url: user_person_path(@person.user_id, @person.id)) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefon_fest %><br />
    <%= f.text_field :telefon_fest %>
  </div>
  <div class="field">
    <%= f.label :telefon_mobil %><br />
    <%= f.text_field :telefon_mobil %>
  </div>
  <div class="field">
    <%= f.label :geburtsdatum %><br />
    <%= f.date_select :geburtsdatum %>
  </div>
  <div class="field">
    <%= f.label :bild %><br />
    <%= f.text_field :bild %>
  </div>

    <div class="hidden_field">
      <%= f.text_field :user_id %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
