<h1>Listing people</h1>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Email</th>
    <th>Telefon fest</th>
    <th>Telefon mobil</th>
    <th>Geburtsdatum</th>
    <th>Bild</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.last_name %></td>
    <td><%= person.first_name %></td>
    <td><%= person.email %></td>
    <td><%= person.telefon_fest %></td>
    <td><%= person.telefon_mobil %></td>
    <td><%= person.geburtsdatum %></td>
    <td><%= person.bild %></td>
    <% if person.user_id %>
    <td><%= link_to 'Show', user_person_path(:user_id => person.user_id, :id => person.id) %></td>
    <td><%= link_to 'Edit', edit_user_person_path(person.user_id, person.id) %></td>
    <td><%= button_to "delete", user_person_path(:user_id => person.user_id, :id => person.id), :method=>:delete, :class=>:destroy %></td>
    <td><%= link_to 'Destroy', user_person_path(:user_id => person.user_id, :id => person.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_user_person_path %>
