<% if @person.new_record?
        url_string = user_people_path
    else
        url_string = user_person_path(@person.user_id, @person.id)
    end
%>
<%= form_for @person,  url: url_string, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefon_fest, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefon_fest, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefon_mobil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefon_mobil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :geburtsdatum, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :geburtsdatum, start_year: 1900, :end_year => Date.current.year, :class => 'date_select' %>
    </div>
  </div>

  <div class="control-group">
    <%#= f.label :bild, t(:bild), :class => 'control-label' %>
    <div class="controls">
      <%#= image_tag @person.bild, :class => 'image_tag'%>
    <%#= f.file_field :image_file, :class => 'file_field' %>
  </div>
  </div>

  <!--user_id -> readonly-->
      <!--<div class="control-group">-->
        <!--<%#= f.label :user_id, :class => 'control-label' %>-->
        <!--<div class="controls">-->
          <!--<%#= f.number_field :user_id, :class => 'number_field' %>-->
        <!--</div>-->
      <!--</div>-->
  <!---->
  <%= f.hidden_field :user_id %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_people_path, :class => 'btn' %>
    <% unless @person.new_record? %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_person_path(@person.user_id, @person.id),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
