<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<p>
  <b>Telefon fest:</b>
  <%= @person.telefon_fest %>
</p>

<p>
  <b>Telefon mobil:</b>
  <%= @person.telefon_mobil %>
</p>

<p>
  <b>Geburtsdatum:</b>
  <%= @person.geburtsdatum %>
</p>

<p>
  <b>Bild:</b>
  <%= @person.bild %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
