<div class="container-fluid">
  <h1><%= t('documentation')%></h1>
  <div class="container-fluid" style="height: 300px;">
    <ul style="margin-top: 10px;">
      <li><a href="/doc/iphone_client/index.html" target="_blank" title=<%=t('iphone_client_documentation')%>><%= t('iphone_client_documentation') %></a></li>
      <li><a href="/doc/pc_client/index.html" target="_blank" title=<%=t('pc_client_documentation')%>><%= t('pc_client_documentation') %></a></li>
      <li><a href="/doc/web_application/index.html" target="_blank" title=<%=t('web_app_documentation')%>><%= t('web_app_documentation') %></a></li>
    </ul>
  </div>
</div>